{{#each comments}}
  <div id="comment_{{id}}" tabindex="0" class="feedback-comment feedback-search-result {{#if read}}feedback-comment-read{{else}}feedback-comment-unread{{/if}}" data-id="{{id}}" data-rank="{{rank}}">
    {{{renderComment this}}}
  </div>
{{/each}}
