<div class="feedback-conversation feedback-edit-conversation" data-id="{{id}}">
  <div class="feedback-header">
    <a href="#" class="feedback-conversation-close"><i class="fa fa-times" /></a>
    {{#if canCopy}}
    <a href="#" class="feedback-conversation-copy-url" title="Copy URL"><i class="fa fa-link" /></a>
    <a href="#" class="feedback-conversation-copy" title="Copy Text"><i class="fa fa-copy" /></a>
    {{/if}}
    <span class="feedback-conversation-index">
      <b>{{index}}</b> of <b>{{total}}</b>
    </span>

    <div class="feedback-signal-strength-selector dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="feedback-conversation-signal-strength">
          {{{signalStrengthImage signalStrength size=20}}}
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" data-value="1">{{{signalStrengthImage 1 size=20}}} 1</a></li>
        <li><a href="#" data-value="2">{{{signalStrengthImage 2 size=20}}} 2</a></li>
        <li><a href="#" data-value="3">{{{signalStrengthImage 3 size=20}}} 3</a></li>
        <li><a href="#" data-value="4">{{{signalStrengthImage 4 size=20}}} 4</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" data-value="0">No value</a></li>
      </ul>
    </div>



    {{{avatar reporter/email 24 reporter/name}}}

    {{#if customer}}
      <a href="?q=customer:{{customer/slug}}" class="feedback-customer feedback-query">{{customer/name}}</a>
    {{else}}{{#if attributedTo}}
      <a class="feedback-customer unidentified feedback-customer-identify">{{attributedTo}}</a>
    {{else}}
      <span class="feedback-customer unknown">{{reporter/name}}</span>
    {{/if}}{{/if}}
    <span class="feedback-customer-edit"><input type="text" value="{{attributedTo}}" maxlength="255" /></span>

    <div class="feedback-metadata">
      <span class="feedback-reporter">{{coalesce reporter/name "Unknown"}}</span>
      <span class="feedback-created date">{{{formatDateWithYear2 createdAt}}}</span>
    </div>
  </div>

  <div class="feedback-body">
    <div class="feedback-tags">
      <div class="feedback-tag-list">
        {{#each tags}}<span class="feedback-tag">
          {{this}}
          <a class="feedback-remove-tag"><i class="fa fa-close"></i></a>
        </span>{{/each}}
      </div>
      <input type="text" class="feedback-new-tag mousetrap" placeholder="New Tag" />
    </div>

    <hr/>

    <div class="feedback-text markdown">{{{markdown text}}}</div>
    <div class="feedback-text edit uploader">
      <textarea>{{text}}</textarea>
    </div>
  </div>

  <div class="feedback-commands">
    {{#if permissions/destroy}}
    <a class="btn-delete" title="Delete"><i class="fa fa-trash"></i></a>
    {{/if}}
    {{#if permissions/update}}
    <a class="btn-move" title="Change Project"><i class="fa fa-arrow-circle-right"></i></a>

    <button class="btn btn-save btn-small btn-primary">Save</button>
    <button class="btn btn-edit btn-small btn-default">Edit</button>
    {{/if}}
    <button class="btn btn-read btn-small btn-default {{#if read}}active{{/if}}" data-toggle="button">Read</button>
    {{#if archived}}
      <button class="btn btn-unarchive btn-small btn-default">Unarchive</button>
    {{else}}
      <button class="btn btn-archive btn-small btn-default">Archive</button>
    {{/if}}
  </div>
</div>
