<div class="feedback-digest">
  <% @conversations.each do |conversation| %>
    <div class="feedback-conversation">
      <div class="feedback-header">
        <%= avatar_for conversation.user %>

        <% if conversation.customer %>
          <span class="feedback-customer"><%= conversation.customer.name %></span>
        <% elsif !conversation.attributed_to.blank? %>
          <span class="feedback-customer"><%= conversation.attributed_to %></span>
        <% elsif conversation.user %>
          <span class="feedback-customer"><%= conversation.user.name %></span>
        <% else %>
          <span class="feedback-customer">Unknown</span>
        <% end %>
        <div class="feedback-metadata">
          <% if conversation.user %>
            <span class="feedback-reporter"><%= conversation.user.name %></span>
          <% end %>
          <span class="feedback-created date"><%= conversation.created_at.strftime("%b %-e, %Y") %></span>
        </div>
      </div>

      <div class="feedback-text markdown">
        <%= mdown conversation.text %>
      </div>

      <div class="feedback-tag-list">
        <span class="feedback-project"><b class="label <%= conversation.project.color %>"><%= conversation.project.slug %></b></span><% conversation.tags.each do |tag| %><span class="feedback-tag"><%= tag %></span><% end %>
      </div>
    </div>
  <% end %>
</div>
