<% content_for :title do %>
<h1 class="project-banner <%= @project.color %> space-below" data-project-slug="<%= @project.slug %>" data-project-color="<%= @project.color %>">
  <small>comments for</small>
  <%= @project.name %>
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="feedback" class="row-fluid">
  <div class="feedback-search callout callout-slim callout-banner">
    <form id="search_feedback">
      <%= search_field_tag "q", params[:q] %>
    </form>
  </div>
  
  <p id="search_report" class="feedback-search-report"></p>
  
  <div id="results" class="span6"></div>
  <div id="feedback_edit" class="span6"></div>
</div>

<% content_for :javascripts do -%>
  <script type="text/javascript">
    $(function() {
      var comments = new Houston.Feedback.Comments(<%=raw @comments.to_json %>, {parse: true});
      window.commentsView = new Houston.Feedback.CommentsView({
        el: document.getElementById('feedback'),
        infiniteScroll: true,
        comments: comments,
        project: <%=raw @project.slug.to_json %>
      });
      commentsView.render();
    });
  </script>
<% end -%>
