<% content_for :title do %>
<h1 class="project-banner <%= @project.color %> space-below" data-project-slug="<%= @project.slug %>" data-project-color="<%= @project.color %>">
  <small>comments for</small>
  <%= @project.name %>
  
  <%= render partial: "projects/keyboard_shortcuts" %>
  
  <%= link_to project_feedback_path(params.pick(:q).merge(format: :xlsx)), id: "excel_export_button", class: "project-banner-btn" do %>
    <i class="fa fa-file-excel-o"></i>
    
    <span>
      Export<br />
      to Excel
    </span>
  <% end %>
  
  <%= link_to "#", id: "new_feedback_button", class: "project-banner-btn" do %>
    <i class="fa fa-comment-o"></i>
    
    <span>
      Add<br />
      Comment
    </span>
  <% end %>
  
  <iframe id="feedback_csv_upload_target" name="feedback_csv_upload_target" class="upload-target" src=""></iframe>
  <%= form_tag upload_project_feedback_path(@project), multipart: true, target: "feedback_csv_upload_target", class: "project-banner-btn" do -%>
    <label for="import_csv_field">
      <input type="hidden" name="target" value="feedback_csv_upload_target" />
      <input type="file" id="import_csv_field" name="file" accept=".csv" />
      <i class="fa fa-upload"></i>

      <span>
        Import<br />
        CSV
      </span>
    </label>
  <% end -%>
</h1>
<% end %>

<div id="feedback" class="row-fluid">
  <div class="feedback-search callout callout-slim callout-banner">
    <form id="search_feedback">
      <%= search_field_tag "q", @q, autocomplete: "off" %>
    </form>
  </div>
  
  <p id="search_report" class="feedback-search-report"></p>
  
  <div id="results" class="span6 infinite-scroll"></div>
  <div id="feedback_edit" class="span6"></div>
</div>

<% content_for :javascripts do -%>
  <script type="text/javascript">
    $(function() {
      var comments = <%=raw Houston::Feedback::CommentPresenter.new(@comments).to_json %>;
      window.commentsView = new Houston.Feedback.CommentsView({
        el: document.getElementById('feedback'),
        infiniteScroll: true,
        tags: <%=raw @tags.to_json %>,
        comments: new Houston.Feedback.Comments(comments, {parse: true}),
        project: <%=raw @project.slug.to_json %>
      });
      commentsView.render();
    });
  </script>
<% end -%>
