<% content_for :title do %>
<h1 class="project-banner <%= @project.color %> space-below" data-project-slug="<%= @project.slug %>" data-project-color="<%= @project.color %>">
  <small>comments for</small>
  <%= @project.name %>

  <%= render partial: "projects/keyboard_shortcuts" %>

  <%= link_to project_feedback_path(params.pick(:q).merge(format: :xlsx)), id: "excel_export_button", class: "project-banner-btn" do %>
    <i class="fa fa-file-excel-o"></i>

    <span>
      Export<br />
      to Excel
    </span>
  <% end %>

  <%= link_to "#", id: "new_feedback_button", class: "project-banner-btn" do %>
    <i class="fa fa-comment-o"></i>

    <span>
      Add<br />
      Comment
    </span>
  <% end %>

  <iframe id="feedback_csv_upload_target" name="feedback_csv_upload_target" class="upload-target" src=""></iframe>
  <%= form_tag upload_project_feedback_path(@project), multipart: true, target: "feedback_csv_upload_target", class: "project-banner-btn" do -%>
    <label for="import_csv_field">
      <input type="hidden" name="target" value="feedback_csv_upload_target" />
      <input type="file" id="import_csv_field" name="file" accept=".csv" />
      <i class="fa fa-upload"></i>

      <span>
        Import<br />
        CSV
      </span>
    </label>
  <% end -%>
</h1>
<% end %>

<div id="feedback" class="row-fluid">
  <div class="feedback-search callout callout-slim callout-banner">
    <form id="search_feedback" <%= "class=unperformed" if params[:q].blank? %>>
      <div class="feedback-search-bar">
        <%= search_field_tag "q", @q, autocomplete: "off" %>
        <a id="feedback_search_reset"><i class="fa fa-times"></i></a>
      </div>
      <div class="feedback-search-sort">
        <select id="sort_feedback">
          <option value="rank">Best match first</option>
          <option value="added">Most recent first</option>
          <option value="signal_strength">Best signal strength first</option>
          <option value="customer">Customer name A-Z</option>
        </select>
      </div>
    </form>
    <div id="search_instructions" <%= "class=collapsed" unless params[:q].blank? %>>
      <h3>Searching for Feedback</h3>
      <dl class="feedback-search-examples">
        <dt><%= example "redirect" %></dt>
        <dd>finds comments with the word <b>redirect</b></dd>

        <dt><%= example "/unread" %></dt>
        <dd>finds comments that I haven't read</dd>

        <dt><%= example "#export -#addressed" %></dt>
        <dd>finds comments with the tag <b>export</b> but not the tag <b>addressed</b></dd>

        <dt><%= example "/read #invalid|no" %></dt>
        <dd>finds comments tagged either <b>invalid</b> or <b>no</b> that I've read</dd>

        <dt><%= example "import by:rodkyles" %></dt>
        <dd>finds comments with the word <b>import</b> entered by <b>Rod Kyles</b></dd>

        <dt><%= example "by:rodkyles added:#{3.weeks.ago.strftime("%Y%m%d")}.." %></dt>
        <dd>finds comments added by <b>Rod Kyles</b> in the last 3 weeks</dd>

        <dt><%= example "added:20150101..20150530" %></dt>
        <dd>finds comments added between <b>Jan 1, 2015</b> and <b>May 30, 2015</b></dd>

        <dt><%= example "customer:jillmartian" %></dt>
        <dd>finds comments by the customer <b>Jill Martian</b></dd>
      </dl>
    </div>
  </div>

  <p id="search_report" class="feedback-search-report"></p>

  <div id="tags_report" class="feedback-tags-report"></div>
  <div id="results" class="span6 infinite-scroll"></div>
  <div id="feedback_edit" class="span6"></div>
</div>

<% content_for :javascripts do -%>
  <script type="text/javascript">
    $(function() {
      var comments = <%=raw Houston::Feedback::CommentPresenter.new(current_ability, @comments).to_json %>;
      window.commentsView = new Houston.Feedback.CommentsView({
        el: document.getElementById('feedback'),
        infiniteScroll: true,
        tags: <%=raw @tags.to_json %>,
        comments: new Houston.Feedback.Comments(comments, {parse: true}),
        projects: <%=raw @projects.pluck(:id, :name).map { |id, name|
          { id: id, name: name, current: id == @project.id } }.to_json %>,
        customers: <%=raw @customers.pluck(:id, :name).map { |id, name|
          { id: id, name: name } }.to_json %>,
        project: <%=raw @project.slug.to_json %>
      });
      commentsView.render();

      <% if params[:q] =~ /^id:\d+$/ %>
        commentsView.selectFirstResult();
      <% end %>
    });
  </script>
<% end -%>
